<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Dikla Spirit</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>ar</string>
        <string>en</string>
        <string>es</string>
    </array>
    <key>CFBundleName</key>
    <string>dikla_spirit</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>

    <!-- Google Sign-In reversed client ID -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>google</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.378222795556-c1rtglsfcqd43jkhibg7q2omoeriu2va</string>
            </array>
        </dict>
    </array>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- This is optional unless you're disabling Firebase's automatic swizzling -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>

    <!-- Google Sign-In client ID -->
    <key>GIDClientID</key>
    <string>378222795556-c1rtglsfcqd43jkhibg7q2omoeriu2va.apps.googleusercontent.com</string>

    <key>KeychainSharing</key>
    <true/>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>google</string>
    </array>

    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to let you download images or files.</string>

    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
